body {
    background-color: slategray;
    color: white;
}


div {
    color: white;
    border: 2px solid darkblue;
    padding: 10px;
    margin: 25px;
}

table {
    border: 1px solid white;
}

td {
    border: 1px solid white;
    text-align: center;
}